
body {
    margin:0;
    font-family:Arial;
    background:black;
}

.overlay{
    min-height:100vh;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}

.title{
    color:gold;
    font-size:40px;
    margin-bottom:30px;
}

.card{
    background:#111;
    padding:30px;
    border:2px solid gold;
    border-radius:10px;
    text-align:center;
    width:90%;
    max-width:500px;
}

.instruction{
    color:white;
    font-size:20px;
    font-weight:bold;
    margin-bottom:20px;
}

#youtubeBtn{
    background:red;
    color:white;
    padding:12px 25px;
    text-decoration:none;
    border-radius:5px;
    font-weight:bold;
}

.proofBtn{
    background:orange;
    color:black;
    padding:12px 25px;
    border:none;
    border-radius:5px;
    font-weight:bold;
    cursor:pointer;
}

.registerBtn{
    background:cyan;
    color:black;
    padding:15px 30px;
    text-decoration:none;
    border-radius:5px;
    font-weight:bold;
}