*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: linear-gradient(135deg,#000,#200000,#400000);
    color:white;
    text-align:center;
}

.container{
    padding:25px;
}

.title{
    font-size:28px;
}

.subtitle{
    color:#ffcccc;
    margin-bottom:20px;
}

.btn{
    width:100%;
    padding:16px;
    margin:10px 0;
    border:none;
    border-radius:12px;
    font-size:16px;
    font-weight:bold;
    cursor:pointer;
}

.subscribe-btn{
    background:gold;
    color:black;
}

.register-btn{
    background:#00ff99;
    color:black;
}

.live-btn{
    background:red;
    color:white;
    font-size:20px;
}

.save-btn{
    background:#007bff;
    color:white;
}

.admin-link{
    display:block;
    margin-top:15px;
    color:cyan;
    text-decoration:none;
}

.hidden{
    display:none;
}

/* Mobile */
@media(max-width:480px){
    .title{
        font-size:22px;
    }
    .btn{
        font-size:15px;
        padding:14px;
    }
}