*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Segoe UI', sans-serif;
}

body{
    background: linear-gradient(135deg,#0f0f0f,#111827,#000000);
    color:white;
    min-height:100vh;
}

header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 50px;
    background:rgba(0,0,0,0.6);
    backdrop-filter: blur(10px);
}

.logo{
    color:gold;
    font-size:28px;
    letter-spacing:2px;
}

nav a{
    color:white;
    margin-left:20px;
    text-decoration:none;
    transition:0.3s;
}

nav a:hover{
    color:gold;
}

.hero{
    text-align:center;
    padding:100px 20px;
}

.hero h2{
    font-size:40px;
    margin-bottom:10px;
}

.hero p{
    margin-bottom:20px;
    color:#ccc;
}

.btn{
    padding:12px 25px;
    background:linear-gradient(to right,gold,orange);
    color:black;
    text-decoration:none;
    border-radius:30px;
    font-weight:bold;
    transition:0.3s;
}

.btn:hover{
    transform:scale(1.05);
}

.countdown-section{
    text-align:center;
    padding:50px;
}

#countdown{
    font-size:28px;
    margin-top:15px;
    color:gold;
}

.container{
    padding:50px;
    text-align:center;
}

.card{
    background:rgba(255,255,255,0.05);
    margin:20px auto;
    padding:20px;
    width:300px;
    border-radius:15px;
    backdrop-filter:blur(8px);
    transition:0.3s;
}

.card:hover{
    transform:translateY(-5px);
}

.team-list{
    list-style:none;
    margin-top:20px;
}

.team-list li{
    background:rgba(255,255,255,0.05);
    padding:15px;
    margin:10px auto;
    width:300px;
    border-radius:10px;
}

footer{
    text-align:center;
    padding:20px;
    margin-top:50px;
    background:rgba(0,0,0,0.6);
}