body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(45deg, black, #111, #1a1a1a);
    color: white;
}

.container {
    padding: 20px;
    text-align: center;
}

h1 {
    color: gold;
    text-shadow: 0 0 15px gold;
}

.card {
    background: #111;
    padding: 20px;
    margin: 20px auto;
    width: 90%;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 0 20px gold;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
}

button {
    padding: 10px 20px;
    background: gold;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background: orange;
}

.dashboard, #adminList {
    margin-top: 30px;
}

.team-card {
    background: #222;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
}